body {
    margin: 0px;
    background: #f5f1da;
    text-align:center;
    width:100%;
    font-weight:400;
}

h1 {
    font-size:3.5em;
    font-family:'Secular One',fantasy,sans-serif;
    text-shadow: grey 2.5px 3px;
    padding:50px;
    background-color: #93b88c;
    margin-top:30px;
    color:#f5f1da;
}

h2 {
    font-size:2em;
    font-family:'sarala',cursive,sans-serif;
    margin:10px;
    padding:40px;
    font-style:italic;
    color:black;
}

h3 {
    font-size:1.75em;
    padding:10px;
    font-family:'yusei magic',fantasy,sans-serif;
    background:#90c8d6;
    color:white;
}

p {
    font-size:1.25em;
    font-family:'sarala',fantasy,sans-serif;
    color:black;
    text-align:left;
    margin:45px 70px;
}

a {
    text-decoration:none;
    font-style:none;
    color:black;
}

a:hover {
    text-decoration: underline;
}

nav {
    text-align: center;
}

nav ul {
    padding:5px;
    display:flex;
    font-family:'yusei magic',fantasy,sans-serif;
}

nav li {
    padding:2px;
    margin:2px;
    display:flex;
    justify-content: center;
    background-color:#90c8d6;
    font-size:1.5em;
    width:100%;
    border-radius: 20px;
}

nav a {
    color:#f5f1da;
    align-self: center;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    font-size: 20px;
    font-family:'Sarala',cursive,sans-serif;
    height:15px;
    margin-top:110px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

footer ul li img:hover{
    border:solid #f5f1da 2px;
}

footer ul {
    background-color: #93b88c;
    align-items: center;
    display:flex;
    padding:20px;
}

footer li {
    display:flex;
    width:100%;
    justify-content: center;
}

footer img {
    width:20px;
    margin-top:5px;
}

.footheader {
    padding:0 5px;
    background-color: #f5f1da;
    font-size: 25px;
    color:#93b88c;
    border-radius: 10px;
}

.figure {
    width:120px;
    margin:auto;
    padding:auto;
}

.data {
    font-size:15px;
}

.data a:hover{
    text-decoration: underline;
}

#beforeafter {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items:center;
    text-align:center;
    margin:30px;
    border:6px dashed #90c8d6;
}

#before {
    text-align: center;
    display:flex;
    flex-direction:column;
    border-right:6px dashed #90c8d6;
}

#after {
    text-align: center;
    display:flex;
    flex-direction:column;
}

#test {
    font-size:1.5em;
    font-family:'sarala',fantasy,sans-serif;
    text-align:left;
    text-decoration:none;
    margin:30px;
}

#quiz-explanation {
    margin: 60px 200px;
}

.question {
    color:black;
}

.answer {
    display:grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    text-transform: uppercase;
    font-size:22px;
}

.answer li {
    font-size: 0.9em;
    background-color: white;
    margin:30px;
    padding:10px;
    color:#90c8d6;
    border-radius: 20px;
    font-family:'yusei magic',fantasy,sans-serif;
    border:solid 2px #90c8d6;
    list-style: none;
    text-align:center;
    align-self:center;
    height:50px;
    padding-top: 29px;
}

li.answer3 {
    padding-top:20px;
    padding-bottom:20px;
}

.banner {
    font-size:1.5em;
    background-color:#90c8d6;
    text-shadow: grey 2px 2px;
    font-family:'Secular One',fantasy,sans-serif;
    text-align: center;
    padding:20px;
    margin-bottom:50px;
    display:inline-block;
    color:white;
}

.active {
    background-color:white;
    border:solid 3px #90c8d6;
}

.active a{
    color:#90c8d6;
}

.tips {
    font-size:2em;
    text-align:center;
    font-weight:bold;
    }

.advice-img {
    align-self: center;
    width:550px;
}

.reference {
    text-align: right;
    margin-bottom:60px;
    font-size: 20px;
}

.policy {
    text-align: center;
}

#mental-survey img {
    width:900px;
}

#chart{
    margin:100px;
}

@media screen and (max-width: 1020px) {

    #footer {
        display:grid;
        grid-template-columns:20% 20% 20% 20% 20%;
        grid-template-rows:80px 80px;
        padding-top:20px;
    }

    .footheader {
          text-align: center;
          font-size: 22px;
          width:90px;

    }

    #before {
        border:none;
    }

    #after {
        border-top:6px dashed #90c8d6;
    }

    #beforeafter {
        display:flex;
        flex-flow: column;
    }

    .answer {
        display:grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
        padding:0;
        font-size:20px;
        text-align: center;
    }

    .answer li {
          padding:0;
          margin:5px;
          min-width:300px;
          height:30px;
    }
}
