body {
    margin: 0;
    background: #f5f1da;
    color: white;
    text-align:center;
    width:100%;
    margin-bottom:100px;
    font-weight:400;
}

h1 {
    font-size:3.5em;
    font-family:'ribeye marrow',fantasy,sans-serif;
    margin:20px;
    padding:30px;
    text-shadow: 2px 2px black;

}

h2 {
    font-size:2em;
    font-family:'sarala',cursive,sans-serif;
    margin:10px;
    padding:40px;
    font-style:italic;
    color:black;
}

h3 {
    font-size:1.75em;
    padding:10px;
    font-family:'yusei magic',fantasy,sans-serif;
    background:rgb(227, 168, 100);

}

p{
    font-size:1.5em;
    font-family:'sarala',fantasy,sans-serif;
    color:black;
    text-align:left;
    margin:30px;
}
a{
    text-decoration:none;
    font-style:none;
    color:black;
}

a:hover {
    text-decoration: none;
}
a::selection
{    color:black;
}

nav {
    text-align: center;
}

nav ul {
    padding:5px;
    display:flex;
    font-family:'yusei magic',fantasy,sans-serif;
    text-align: center;
}

nav li {
    padding:2px;
    margin:2px;
    display:flex;
    justify-content: center;
    background-color:#eebb4d;
    font-size:1.5em;
    width:100%;
    border-radius: 20px;;
}

nav a {
    color:white;
    text-align: center;
}

nav a:hover{
    text-decoration: underline;
}


footer {
    font-size: 20px;
    font-family:'Sarala',cursive,sans-serif;
    height:15px;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover {
    text-decoration: underline;
}

footer ul{
    background-color: #eebb4d;
    align-items: center;
    display:flex;

}
footer li{
    display:flex;
    width:100%;
    display:inline-block;
}

footer img{
    width:20px;
}


.footheader{
    padding:10px;
    border: 6px solid #c2dd92;
    font-size: 25px;
    color:white;
    border-radius: 10px;
}
.figure{
    width:120px;
    margin:auto;
    padding:auto;
}
.data{
    font-size:15px;
}

#beforeafter{
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items:center;
    text-align:center;
}

#before{
    border:6px;
    border-style: dashed;
    border-color: #c2dd92;
    text-align: center;
    display:flex;
    flex-direction:column;
}
#after{
    border:6px;
    border-style: dashed;
    border-color: #c2dd92;
    text-align: center;
    display:flex;
    flex-direction:column;
}
#test{
    font-size:1.5em;
    font-family:'sarala',fantasy,sans-serif;
    text-align:left;
    text-decoration:none;
}

.comment{
    font-size:15px;
    background-color:gray;
    display:inline-block;
}
.question {
    color:black;
}

.answer{
    display:grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
}

.answer li{
    font-size: 0.9em;
    background-color: white;
    margin:30px;
    padding:10px;
    color:rgb(227, 168, 100);
    border-radius: 20px;
    font-family:'yusei magic',fantasy,sans-serif;
    text-align:center;
    border:solid 5px rgb(227, 168, 100);
    list-style: none;
}
#submit{
    font-size:1.5em;
    background-color:rgb(227, 168, 100);
    font-family:'ribeye marrow',fantasy,sans-serif;
    text-align: center;
    padding:10px;
    margin:50px;
    display:inline-block;

}
.active {
    background-color:white;
    border:solid 3px rgb(227, 168, 100);
}
.active a{
    color:rgb(227, 168, 100);

}
#racial_disparity_chart{
    width:100%;
    display:flex;
}
@media screen and (max-width: 1000px) {
  footer ul{
    flex-flow: column;
    padding: 0;
  }

  .footheader{
      text-align: center;
  }
  #before{
      border:none;
  }

  #after{
      border:none;
  }

  #beforeafter{
      border:6px;
      border-style: dashed;
      border-color: #c2dd92;
  }
  .answer{
      display:grid;
      grid-template-columns: 2fr 2fr;
      grid-template-rows: 2fr 2fr;
      padding:0;
      font-size:25px;
      text-align: center;
  }
  .answer li{
      padding:0;
      margin:5px;
      min-width:300px;
  }
}
